body{
    background-color:#FFFFFF;
}
.menu{
    position: relative;
    background: #5D3BEF;
    display: flex;
    width: 130%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100%;
    margin: 0;
}
.menu li a{
    text-emphasis: none;
    color: #030303;
    padding: 7px 30px;
    text-decoration: none;
}
.menu li{
    display: flex;
    text-align: center;
}
.imagen {
    height: auto;
    margin: auto;
    display: block;
    padding: 100px;
}
li a.active, li a:hover{
    background-color: #85CFCB;
    transition: 0.5s;
    border-radius: 50px;
}

.titulo1{
    display: grid;
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: 9%;
    font-family: "open sans", sans-serif;
}
.text1{
    color: #222222;
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    top: 39%;
    font-family: Arial, Helvetica, sans-serif;
}

.fotos {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 46%;
    padding: 15px
    
    
    }

.fa-brands{
    background-color: #8E7BEF;
    color: #F9F6FF;
    padding: 10px;
    border-radius: 50%;
    margin-left: 40px;
}

.contacto{
    margin: 40;
    padding: 40;   
}
.contacto{
    position: absolute;
    top: 400px;
    left: 660px;
    background: #5D3BEF;
    color: #F9F6FF;
    display: inline-block;
    font-size: 0.8em;
    margin: 13px;
    padding: 0rem 80px;
    text-align: center;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-envelope{
   margin-right: 11px;
}
.titulo2{
    display: grid;
    font-size: 2em;
    position: absolute;
    left: 40%;
    top: 99%;
    font-size: 1.6em;
    font-family: "open sans", sans-serif;

}

.text2{
    color: #423F40;
    font-size: 1.1em;
    margin: 6em auto;
    text-align: center;
    width: 800px;
    padding: 0 8rem;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo3{

}
.caja1{
    background: #F9F6FF;
    height: 200px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    display: table;
}
.caja1{
    position: absolute;
    left: 23%;
    top: 150%;
}
.foto4{
    position: absolute;
    font-size: 20px;
    top: 10%;
    left: 14%;
    width: 13px;
}
.titulo4{
    position: absolute;
    font-size: 0.8em;
    left: 26.5%;
    top: 3%;
}
.text3{
    color: #423F40;
    display: table-cell;
    font-size: .8rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
    line-height: 1;
}
.caja2{
    background: #F9F6FF;
    height: 200px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
}
.caja2{
    position: absolute;
    left: 45%;
    top: 150%;
}
.foto5{
    position: absolute;
    font-size: 20px;
    top: 15%;
    left: 14%;
    width: 14px;
}
.titulo5{
    position: absolute;
    font-size: 0.8em;
    left: 24%;
    top: 3%;
}
.text4{
    color: #423F40;
    display: table-cell;
    font-size: .8rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
    line-height: 1;
   position: absolute;
   top: 65px;
}
.caja3{
    background: #F9F6FF;
    height: 200px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
}
.caja3{
    position: absolute;
    left: 66%;
    top: 150%;
}
.foto6{
    position: absolute;
    font-size: 20px;
    top: 14%;
    left: 7%;
    width: 16px;
}

.text5{
    color: #423F40;
    display: table-cell;
    font-size: .8rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
    line-height: 1;
   position: absolute;
   top: 65px;
}
.titulo7{
    
}